.App {
  text-align: center;
}

body {
  margin: 0px;
  padding: 0px;
}


.cryptoinf {
  margin: 20px auto;
  background-color: azure;
}

.header {
  margin: 0px;
  height: 10vh;
  background-color: blue;
}



